<div class="container category">
    <div class="row top">
        <h1>Buscando</h1>
        <div class="col-xs-12">
            <select 
                class="form-control" 
                ng-model="selected" 
                ng-options="item.id as item.title for item in specialtiesList"
                ng-change="categoryChange(selected)"
            >
                <option value="">SELECCIONA ESPECIALIDAD</option>
            </select>
        </div>
    </div>
    <div class="row space">
        <div ng-repeat="category in categories">
            <div ng-if="category.lvl === 1" class="col-xs-3">
                <label for="">{{category.title}}</label>
                <select 
                    class="form-control"
                    ng-model="select"
                    ng-options="item.id as item.title for item in category.children"
                >
                    <option value="">Seleccione</option>
                </select>
            </div>
            <div class="col-xs-12" ng-if="category.lvl === 3">
                <label for=""><strong>{{category.title}}</strong></label>
                <div class="row">
                    <div class="col-xs-2" ng-repeat="subCategory in category.children">
                        <div class="checkbox-inline">
                            <label><input type="checkbox" value="">{{subCategory.title}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row space">
        <div class="col-xs-12">
            <label for=""><strong>Describir detalle de la Solicitud</strong></label>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
        </div>
    </div>
    <div class="row space"
        <div align="center">
            <button type="button" class="btn typeOne">ANTERIOR</button>
            <button type="button" class="btn typeOne">SIGUIENTE</button>
        </div>
    </div>
</div>