<div class="container category">
    <div class="row top">
        <h1>Buscando</h1>
        <div>
            <select 
                class="form-control" 
                ng-model="selected" 
                ng-options="item.id as item.title for item in specialtiesList"
                ng-change="categoryChange(selected)"
            >
                <option value="">SELECCIONA ESPECIALIDAD</option>
            </select>
        </div>
    </div>
    <div class="row space">
        <div class="col-xs-3" ng-repeat="category in categories">
            <label for="">{{category.title}}</label>
            <select 
                class="form-control"
                ng-model="select"
                ng-options="item.id as item.title for item in category.children"
            >
                <option value="">Seleccione</option>
            </select>
        </div>
    </div>
    <div class="row space">
        <div class="col-xs-12">
            <label for=""><strong>Elemento</strong></label>
        </div>
        <div class="col-xs-12">
            <div class="checkbox-inline">
                <label><input type="checkbox" value="">Option 1</label>
            </div>
            <div class="checkbox-inline">
                <label><input type="checkbox" value="">Option 1</label>
            </div>
            
            <div class="checkbox-inline">
                <label><input type="checkbox" value="">Option 1</label>
            </div>
            <div class="checkbox-inline">
                <label><input type="checkbox" value="">Option 1</label>
            </div>
            <div class="checkbox-inline">
                <label><input type="checkbox" value="">Option 1</label>
            </div>
            <div class="checkbox-inline">
                <label><input type="checkbox" value="">Option 1</label>
            </div>
            <div class="checkbox-inline">
                <label><input type="checkbox" value="">Option 1</label>
            </div>
            <div class="checkbox-inline">
                <label><input type="checkbox" value="">Option 1</label>
            </div>
            <div class="checkbox-inline">
                <label><input type="checkbox" value="">Option 1</label>
            </div>
            <div class="checkbox-inline">
                <label><input type="checkbox" value="">Option 1</label>
            </div>
            <div class="checkbox-inline">
                <label><input type="checkbox" value="">Option 1</label>
            </div>
            <div class="checkbox-inline">
                <label><input type="checkbox" value="">Option 1</label>
            </div>
        </div>
    </div>
    <div class="row space">
        <div class="col-xs-12">
            <label for=""><strong>Describir detalle de la Solicitud</strong></label>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
        </div>
    </div>
    <div class="row space"
        <div align="center">
            <button type="button" class="btn typeOne">ANTERIOR</button>
            <button type="button" class="btn typeOne">SIGUIENTE</button>
        </div>
    ></div>
</div>