@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url("http://fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot");
  src: url("http://fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot?#iefix") format("embedded-opentype"), local("Roboto"), local("Roboto-regular"), url("http://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2") format("woff2"), url("http://fonts.gstatic.com/s/roboto/v15/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff") format("woff"), url("http://fonts.gstatic.com/s/roboto/v15/zN7GBFwfMP4uA6AR0HCoLQ.ttf") format("truetype"), url("http://fonts.gstatic.com/l/font?kit=_YZOZaQ9UBZzaxiLBLcgZg&skey=a0a0114a1dcab3ac&v=v15#Roboto") format("svg"); }

.category h1 {
  color: #094AB1;
  font-family: Roboto !important;
  font-weight: bold; }

.category label {
  color: #094AB1;
  font-family: Roboto !important;
  font-weight: 500;
  font-size: 15px; }

.category select, .category textarea {
  background: #f2f2f2;
  color: #094AB1;
  border-radius: 2px;
  margin-bottom: 16px; }

.category button {
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #FF6600 !important;
  width: 25%;
  display: inline; }
  .category button:hover {
    color: #FFF !important; }

.category .space {
  margin-bottom: 3%; }

.category .top {
  text-align: center;
  margin-bottom: 3%; }
  .category .top select {
    display: inline !important;
    width: 25%;
    font-weight: bold; }
