@import '../../varibles';
@import '../../fonts';

.category {
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    h1 {
        color: $secundary-color;
        font-family: Roboto !important;
        font-weight: bold;
    }
    label {
        color: $secundary-color;
        font-family: Roboto !important;
        font-weight: 500;
        font-size: 15px;
    }
    select, textarea {
        background: $fourth-color;
        color: $secundary-color;
        border-radius: 2px;
        margin-bottom: 16px;
    }
    button {
        color: #FFF;
        font-family: Roboto;
        font-size: 20px;
        font-weight: bold;
        border-radius: 4px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: $primary-color !important;
        width: 25%;
        display: inline;
        &:hover {
            color: #FFF !important;
        }
        @media screen and (max-width: 768px) {
            width: 44%;
        }
    }
    .space {
         margin-bottom: 3%;
    }
    .top {
        text-align: center;
        margin-bottom: 3%;
        select {
            display: inline !important;
            width: 25%;
            font-weight: bold;
            @media screen and (max-width: 992px) {
                width: 100%;
            }
        }
    }
}