# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  gmail
    mailer_host:       gmail.
    mailer_user:       fcontrerastest1991@gmail.com
    mailer_password:   021191abcd

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    env(DATABASE_URL): postgres://hulbtuuaamhlqp:1939eeda204fb0c643f8c631ef4023cb5833ec447cf30cb1ac5262625b68de56@ec2-23-23-223-2.compute-1.amazonaws.com:5432/df79a14lqnpf8n
