@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url("http://fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot");
  src: url("http://fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot?#iefix") format("embedded-opentype"), local("Roboto"), local("Roboto-regular"), url("http://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2") format("woff2"), url("http://fonts.gstatic.com/s/roboto/v15/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff") format("woff"), url("http://fonts.gstatic.com/s/roboto/v15/zN7GBFwfMP4uA6AR0HCoLQ.ttf") format("truetype"), url("http://fonts.gstatic.com/l/font?kit=_YZOZaQ9UBZzaxiLBLcgZg&skey=a0a0114a1dcab3ac&v=v15#Roboto") format("svg"); }

.container-job {
  font-family: Roboto;
  padding-bottom: 8%; }
  .container-job .job-title {
    font-size: 40px;
    color: #094AB1;
    padding-top: 2%;
    padding-bottom: 1%; }
    .container-job .job-title span {
      font-weight: bold; }
  .container-job hr {
    border: 1px solid #4C4D4F; }
  .container-job .job-title-resumen {
    color: #4C4D4F;
    font-size: 18px; }
    .container-job .job-title-resumen p {
      margin: 0; }
      .container-job .job-title-resumen p span {
        font-weight: bold;
        color: #094AB1; }
  .container-job .panel-menu button {
    padding: 4px;
    border-radius: 12px;
    width: 19.5%;
    background: #094AB1;
    color: #ffffff;
    font-weight: bold; }
    @media screen and (max-width: 772px) {
      .container-job .panel-menu button {
        width: 33.3%; } }
  .container-job .box-resumen h3, .container-job .box-edit h3, .container-job .box-job h3 {
    color: #094AB1;
    font-size: 20px;
    font-weight: bold; }
  .container-job .box-resumen p, .container-job .box-edit p, .container-job .box-job p {
    color: #4C4D4F;
    font-size: 17px; }
  .container-job .box-resumen .row-divider, .container-job .box-edit .row-divider, .container-job .box-job .row-divider {
    margin-bottom: 3%; }
  .container-job .box-resumen span, .container-job .box-edit span, .container-job .box-job span {
    font-weight: bold; }
  .container-job .box-edit h3 {
    font-size: 18px; }
  .container-job .box-edit button {
    margin-top: 4%;
    background: #094AB1;
    color: #ffffff;
    font-weight: bold;
    width: 50%; }
  .container-job .box-edit textarea {
    min-height: 157px !important; }
  .container-job .box-job .row-panel .panel {
    box-shadow: none;
    border: none; }
  .container-job .box-job .row-panel .panel-heading {
    font-size: 17px;
    font-weight: bold;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: #094AB1;
    color: #ffffff;
    text-align: center; }
  .container-job .box-job .row-panel .panel-body {
    min-height: 120px;
    background: #DFDFDF;
    display: table;
    width: 100%;
    text-align: center; }
    .container-job .box-job .row-panel .panel-body span {
      text-align: center;
      display: table-cell;
      vertical-align: top; }
    .container-job .box-job .row-panel .panel-body .title {
      color: #094AB1;
      font-size: 18px;
      font-weight: bold;
      text-align: left; }
    .container-job .box-job .row-panel .panel-body .description {
      font-weigh: bold;
      font-size: 14px;
      text-align: left; }
  .container-job .box-job .row-panel .panel-footer {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 90%;
    color: #4C4D4F;
    font-weight: bold;
    text-align: center;
    background: #D4D4D4;
    padding: 4px 10px 4px 10px; }
    .container-job .box-job .row-panel .panel-footer button {
      font-weight: bold;
      background: #FF6600;
      padding: 0 19px;
      color: #ffffff; }
  .container-job .box-job .panel-info {
    font-size: 15px;
    background: #FFA366;
    border-radius: 20px;
    color: #ffffff !important;
    font-size: 15px !important; }
    .container-job .box-job .panel-info span {
      font-weight: 600;
      font-size: 15px; }
    .container-job .box-job .panel-info p {
      font-size: 15px;
      padding-left: 4%;
      padding-right: 4%;
      text-align: justify;
      color: #ffffff !important;
      font-size: 15px; }
    .container-job .box-job .panel-info .panel {
      border-right: 1px solid #ffffff; }
    @media screen and (min-width: 992px) {
      .container-job .box-job .panel-info .box-info {
        border-right: 1px solid #ffffff;
        min-height: 310px; } }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      .container-job .box-job .panel-info .box-info {
        border-right: 1px solid #ffffff;
        min-height: 360px; } }
  .container-job .box-message {
    margin-top: 3%;
    text-align: center; }
    .container-job .box-message h4 {
      color: #4C4D4F;
      font-size: 17px;
      font-weight: bold; }
    .container-job .box-message button {
      background: #FF6600;
      color: #ffffff;
      border-radius: 10px;
      font-weight: bold; }
    .container-job .box-message .box-info {
      width: 100%;
      display: table;
      margin-top: 20%;
      margin-bottom: 20%; }
      .container-job .box-message .box-info span {
        color: #4C4D4F;
        font-size: 16px;
        font-weight: bold;
        display: table-cell;
        vertical-align: middle; }
    @media screen and (max-width: 772px) {
      .container-job .box-message .new-message {
        margin-bottom: 10%; } }
  .container-job .box-califications h2, .container-job .box-califications h3 {
    color: #094AB1;
    font-weight: bold;
    font-size: 18px; }
  .container-job .box-califications h3 {
    font-weight: 400;
    font-size: 17px;
    margin: 0px;
    padding-top: 2%; }
  .container-job .box-califications img {
    width: 17px !important; }
  .container-job .box-califications .question {
    color: #FF6600; }
  .container-job .box-califications textarea {
    height: 300px; }
  .container-job .box-califications button {
    background: #FF6600;
    color: #ffffff;
    margin-top: 6%;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px 10px 10px 9px;
    font-size: 16px; }
