<footer class="footer">
  <div class="container">
    <div class="col-xs-2">
      <ul>
        <li><strong>GUIKIFIX</strong></li>
        <li><a href="#">QUIENES SOMOS</a></li>
        <li><a href="#">MEDIA</a></li>
        <li><a href="#">RESPOSABILIDAD SOCIAL</a></li>
      </ul>
    </div>
    <div class="col-xs-3">
      <ul>
        <li><strong>DECUBRE</strong></li>
        <li><a href="#">COMO FUNCIONA?</a></li>
        <li><a href="#">CONTRATA SERVICIOS</a></li>
        <li><a href="#">OFRECE SERVICIOS</a></li>
      </ul>
    </div>
    <div class="col-xs-2">
      <ul>
        <li><strong>INFORMACION</strong></li>
        <li><a href="#">PREGUNTAS FRECUENTES</a></li>
        <li><a href="#">AYUDA</a></li>
        <li><a href="#">CONTACTO</a></li>
      </ul>
    </div>
    <div class="col-xs-2">
      <ul class="top-section">
        <li><strong>¿Tienes dudas?</strong></li>
        <li>Escribenos</li>
        <li>contacto@guikifix.com</li>
      </ul>
    </div>
    <div class="col-xs-3">
      <ul>
        <li><strong>En colaboracion con:</strong></li>
            <img src="images/epa.png" alt="">
      </ul>
    </div>
  </div>
</footer>
<div class="subFooter">
  <div class="container">
    <a href="">POLITICAS DE PRIVACIDAD | </a>
    <a href="">TERMINOS Y CONDICIONES | </a>
    <a href="">2017 GUIKIFIX C.A RIF J-XXXXXX</a>
  </div>
</div>