<footer class="footer">
  <div class="container">
    <div class="col-xs-2">
      <ul>
        <li><strong>GUIKIFIX</strong></li>
        <li>QUIENES SOMOS</li>
        <li>MEDIA</li>
        <li>RESPOSABILIDAD SOCIAL</li>
      </ul>
    </div>
    <div class="col-xs-3">
      <ul>
        <li><strong>DECUBRE</strong></li>
        <li>COMO FUNCIONA?</li>
        <li>CONTRATA SERVICIOS</li>
        <li>OFRECE SERVICIOS</li>
      </ul>
    </div>
    <div class="col-xs-2">
      <ul>
        <li><strong>INFORMACION</strong></li>
        <li>PREGUNTAS FRECUENTES</li>
        <li>AYUDA</li>
        <li>CONTACTO</li>
      </ul>
    </div>
    <div class="col-xs-2">
      <ul>
        <li><strong>Tienes dudas?</strong></li>
        <li>Escribenos</li>
        <li>contacto@guikifix.com</li>
      </ul>
    </div>
    <div class="col-xs-3">
      <ul>
        <li><strong>En colaboracion con:</strong></li>
            <img src="images/epa.png" alt="">
      </ul>
    </div>
  </div>
</footer>
<div class="subFooter">
  <div class="container">
    <a href="">
      POLITICAS DE PRIVACIDAD | TERMINOS Y CONDICIONES | 2017 GUIKIFIX C.A 
  RIF J-XXXXXX
    </a>
  </div>
</div>