<footer class="footer">
  <div class="container space">
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
      <ul>
        <li><strong>GUIKIFIX</strong></li>
        <li><a href="#">QUIENES SOMOS</a></li>
        <li><a href="#">MEDIA</a></li>
        <li><a href="#">ALIANZAS</a></li>
        <li><a href="#">RESPONSABILIDAD SOCIAL</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
      <ul>
        <li><strong>DESCUBRE</strong></li>
        <li><a href="#">¿CÓMO FUNCIONA?</a></li>
        <li><a href="#">CONTRATA SERVICIOS</a></li>
        <li><a href="#">OFRECE SERVICIOS</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-ld-3">
      <ul>
        <li><strong>INFORMACIÓN</strong></li>
        <li><a href="#">PREGUNTAS FRECUENTES</a></li>
        <li><a href="#">AYUDA</a></li>
        <li><a href="#">CONTACTO</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 contact">
      <ul class="top-section">
        <li><strong>¿Tienes dudas?</strong></li>
        <li>Escríbenos</li>
        <li class="decorationLi"><a href="mailto:contacto@guikifix.com">contacto@guikifix.com</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2 col-ld-2 hidden-xs">
      <ul>
        <li><strong>En colaboración con</strong></li>
          <img src="images/epa.png" class="img-responsive">
      </ul>
    </div>
  </div>
</footer>
<div class="subFooter">
  <div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-ld-12 padding">
      <a href="">POLÍTICAS DE PRIVACIDAD | </a>
      <a href="">TÉRMINOS Y CONDICIONES | </a>
      <a href="">2017 GUIKIFIX VENEZUELA C.A. RIFJ-XXXXXXXX</a>
    </div>
  </div>
</div>