@import '../varibles';
@import '../fonts';
.top {
    header {
        width: 100%;
        margin-bottom: 1%;
        background: #FFF;
        img {
            width: 250px;
            margin-top: 15px;
            margin-left: -10px;
        }
        button {
            color: #FFF;
            font-family: Roboto;
            font-weight: bold;
            border-radius: 8px;
            padding-left: 20px;
            padding-right: 20px;
            &:hover, :active{
                color: #FFF !important;
            }
        }
        .right {
            margin-top: 2.5%;
        }
        .typeOne {
            background-color: $primary-color !important;
            float: right;
            margin-right: 2%;
            &:focus {
                color: #FFF;
            }
        }
        .typeTwo {
            background-color: $third-color !important;
            float: right;
            &:focus {
                color: #FFF;
            }
        }
    }
}
.menuGuikifix {
    background: $secundary-color !important;
    border-color: $secundary-color !important;
    border-radius: 0px !important;
    margin-bottom: 0px !important;
    a {
        color: #FFF !important;
        font-family: Roboto !important;
        font-weight: bold !important;
    }

    .container {
        .collapse {
            ul {
                li {
                        &:hover,&:active, &:focus, &.active{
                           a {
                               background: $primary-color !important;
                           }
                        }  
                        
                }
            }
        }
    }
    
    .title {
        margin-top: 11px;
        font-size: 23px;
        border-right-style: solid;
        border-width: 3px;
        border-color: #FFF;
        color: #FFF !important;
        font-family: Roboto !important;
        font-weight: bold !important;
        padding-right: 5px;
    }
}
footer {
    background: $primary-color;
    color: #FFF;
    padding-top: 1%;
    ul {
        list-style:none;
        li > a {
            text-decoration: none;
            color: #FFF;
            font-family: Roboto !important;
            &:hover, &:focus {
                text-decoration: none;
                color: #FFF;
            }
        }
    }
    img {
        margin-top: -47px;
        margin-bottom: -28px;
        margin-left: -5%;
    }
    .top-section {
        text-align: center;
        margin-top: 10%;
        font-weight: bold;
    }
}
.subFooter {
    background: #4C4D4F;
    color: #FFF !important;
    font-family: Roboto !important;
    font-weight: bold !important;
    text-align: center;
    a {
        color: #FFF !important;
        font-family: Roboto !important;
        font-weight: bold !important;
    }
    .padding {
        padding-top: .5%;
        padding-bottom: .5%
    }
}