@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url("http://fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot");
  src: url("http://fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot?#iefix") format("embedded-opentype"), local("Roboto"), local("Roboto-regular"), url("http://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2") format("woff2"), url("http://fonts.gstatic.com/s/roboto/v15/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff") format("woff"), url("http://fonts.gstatic.com/s/roboto/v15/zN7GBFwfMP4uA6AR0HCoLQ.ttf") format("truetype"), url("http://fonts.gstatic.com/l/font?kit=_YZOZaQ9UBZzaxiLBLcgZg&skey=a0a0114a1dcab3ac&v=v15#Roboto") format("svg"); }

.top header {
  width: 100%;
  margin-bottom: 1%;
  background: #FFF; }
  .top header img {
    width: 250px;
    margin-top: 15px;
    margin-left: -10px; }
  .top header button {
    color: #FFF;
    font-family: Roboto;
    font-weight: bold;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px; }
    .top header button:hover, .top header button :active {
      color: #FFF !important; }
  .top header .right {
    margin-top: 2.5%; }
  .top header .typeOne {
    background-color: #FF6600 !important;
    float: right;
    margin-right: 2%; }
    .top header .typeOne:focus {
      color: #FFF; }
  .top header .typeTwo {
    background-color: #76BE53 !important;
    float: right; }
    .top header .typeTwo:focus {
      color: #FFF; }
  .top header .menuUser {
    padding-left: 40px;
    margin-top: 6px; }
    .top header .menuUser img {
      width: 42px;
      height: 42px;
      margin-right: -18%;
      margin-left: 18%; }
    .top header .menuUser h1 {
      display: inline-block;
      font-size: 16px;
      color: #094AB1;
      font-family: Roboto; }
    .top header .menuUser h2 {
      display: inline-block;
      font-size: 18px;
      color: #4C4D4F;
      font-family: Roboto;
      font-weight: bold; }
    .top header .menuUser h3 {
      display: inline-block;
      font-size: 16px;
      color: #094AB1;
      font-family: Roboto;
      font-weight: bold;
      padding-left: 0.7%; }
    .top header .menuUser .text {
      display: inline-block;
      position: absolute;
      top: 18%;
      right: 3%;
      width: 58%; }

.menuGuikifix {
  background: #094AB1 !important;
  border-color: #094AB1 !important;
  border-radius: 0px !important;
  margin-bottom: 0px !important;
  border-top-width: 0px !important;
  border-right-width: 0px !important;
  border-left-width: 0px !important;
  border-bottom-width: 0px !important; }
  .menuGuikifix a {
    color: #FFF !important;
    font-family: Roboto !important;
    font-weight: bold !important; }
  .menuGuikifix .barVertical {
    border-width: 4px;
    height: 50px;
    border-color: #FFF;
    border-right-style: solid !important; }
  .menuGuikifix .container .collapse ul li:hover a, .menuGuikifix .container .collapse ul li:active a, .menuGuikifix .container .collapse ul li:focus a, .menuGuikifix .container .collapse ul li.active a {
    background: #FF6600 !important; }
  .menuGuikifix .title {
    padding-top: 8px;
    font-size: 27px;
    color: #FFF !important;
    font-family: Roboto !important;
    font-weight: bold !important;
    padding-right: 16px;
    padding-left: 5px; }
    @media screen and (max-width: 768px) {
      .menuGuikifix .title {
        font-size: 25px; } }

footer {
  background: #FF6600;
  color: #FFF;
  padding-top: 1%; }
  @media screen and (max-width: 768px) {
    footer {
      text-align: center; } }
  footer .space {
    padding-right: 0px;
    padding-left: 0px; }
  footer .contact {
    margin-left: -65px;
    margin-right: 65px; }
    @media screen and (max-width: 768px) {
      footer .contact {
        margin-left: 3px; } }
  footer ul {
    list-style: none;
    padding-right: 0px;
    padding-left: 0px; }
    footer ul li > a {
      text-decoration: none;
      color: #FFF;
      font-family: Roboto !important; }
      footer ul li > a:hover, footer ul li > a:focus {
        text-decoration: none;
        color: #FFF; }
  footer img {
    margin-bottom: 4%;
    margin-left: -1%;
    margin-top: -1%; }
    @media screen and (max-width: 768px) {
      footer img {
        margin-left: 15% !important; } }
  footer .top-section {
    text-align: center;
    margin-top: 4%;
    font-weight: bold; }
    footer .top-section li {
      font-size: 17px; }
    footer .top-section .decorationLi {
      text-decoration: underline; }

.subFooter {
  background: #4C4D4F;
  color: #FFF !important;
  font-family: Roboto !important;
  font-weight: bold !important;
  text-align: center; }
  .subFooter a {
    color: #FFF !important;
    font-family: Roboto !important;
    font-weight: bold !important; }
  .subFooter .padding {
    padding-top: .5%;
    padding-bottom: .5%; }
