@import '../varibles';
@import '../fonts';
.top {
    header {
        width: 100%;
        margin-bottom: 1%;
        background: #FFF;
        img {
            width: 250px;
            margin-top: 15px;
            margin-left: -10px;
        }
        button {
            color: #FFF;
            font-family: Roboto;
            font-weight: bold;
            border-radius: 8px;
            padding-left: 20px;
            padding-right: 20px;
            &:hover, :active{
                color: #FFF !important;
            }
        }
        .right {
            margin-top: 2.5%;
        }
        .typeOne {
            background-color: $primary-color !important;
            float: right;
            margin-right: 2%;
            &:focus {
                color: #FFF;
            }
        }
        .typeTwo {
            background-color: $third-color !important;
            float: right;
            &:focus {
                color: #FFF;
            }
        }
        .menuUser {
            padding-left: 40px;
            margin-top: 6px;
            img {
                width: 42px;
                height: 42px;
                margin-right: -18%;
                margin-left: 18%;
            }
            h1 {
                display: inline-block;
                font-size: 16px;
                color: $secundary-color;
                font-family: Roboto;
            }
            h2 {
                display: inline-block;
                font-size: 18px;
                color: $seventh-color;
                font-family: Roboto;
                font-weight: bold;
            }
            h3 {
                display: inline-block;
                font-size: 16px;
                color: $secundary-color;
                font-family: Roboto;
                font-weight: bold;
                padding-left: 0.7%;
            }
            .text {
                display: inline-block;
                position: absolute;
                top: 18%;
                right: 3%;
                width: 58%;
            }
        }
    }
}
.menuGuikifix {
    background: $secundary-color !important;
    border-color: $secundary-color !important;
    border-radius: 0px !important;
    margin-bottom: 0px !important;
    border-top-width: 0px !important;
    border-right-width: 0px !important;
    border-left-width: 0px !important;
    border-bottom-width: 0px !important;
    a {
        color: #FFF !important;
        font-family: Roboto !important;
        font-weight: bold !important;
    }
    .barVertical {
        border-width: 4px;
        height: 50px;
        border-color: #FFF;
        border-right-style: solid !important;
    }

    .container {
        .collapse {
            ul {
                li {
                        &:hover,&:active, &:focus, &.active{
                           a {
                               background: $primary-color !important;
                           }
                        }  
                        
                }
            }
        }
    }
    
    .title {
        padding-top: 8px;
        font-size: 27px;
        color: #FFF !important;
        font-family: Roboto !important;
        font-weight: bold !important;
        padding-right: 16px;
        padding-left: 5px;
        @media screen and (max-width: 768px) {
            font-size: 25px;
        }
    }
}
footer {
    background: $primary-color;
    color: #FFF;
    padding-top: 1%;
    @media screen and (max-width: 768px) {
        text-align: center;
    }
    .space {
        padding-right: 0px;
        padding-left: 0px;
    }
    .contact {
        margin-left: -65px;
        margin-right: 65px;
        @media screen and (max-width: 768px) {
            margin-left: 3px;
        }
    }
    ul {
        list-style:none;
        padding-right: 0px;
        padding-left: 0px;
        li > a {
            text-decoration: none;
            color: #FFF;
            font-family: Roboto !important;
            &:hover, &:focus {
                text-decoration: none;
                color: #FFF;
            }
        }
    }
    img {
        margin-bottom: 4%;
        margin-left: -1%;
        margin-top: -1%;
        @media screen and (max-width: 768px) {
            margin-left: 15% !important;
        }
    }
    .top-section {
        text-align: center;
        margin-top: 4%;
        font-weight: bold;
        li {
            font-size: 17px;
        }
        .decorationLi {
            text-decoration: underline;
        }
    }
}
.subFooter {
    background: #4C4D4F;
    color: #FFF !important;
    font-family: Roboto !important;
    font-weight: bold !important;
    text-align: center;
    a {
        color: #FFF !important;
        font-family: Roboto !important;
        font-weight: bold !important;
    }
    .padding {
        padding-top: .5%;
        padding-bottom: .5%
    }
}