@import '../../varibles';
@import '../../fonts';
.downList {
    background: $secundary-color;
    text-align: center;
    h1 {
        color: #FFF;
        font-family: Roboto;
        font-weight: bold;
        font-size: 15px;
    }
    h1:before {
        content: url('http://interceramicusa.com/images/layout/icons/ico-22.png');
        width: 10px;
        height: 10px;
        height: 10px;
        position: relative;
        top: 6px;
        right: 7px;
    }
    .top-one {
        @media screen and (min-width: 992px) {
            margin-top: 12%;
        }
    }
    .top-two {
         @media screen and (min-width: 992px) {
            margin-top: 30%;
         }
    }
    .top-tre {
         @media screen and (min-width: 992px) {
            margin-top: 48%;
         }
    }
    .top-four {
        @media screen and (min-width: 992px) {
            margin-top: 8%;
        }
    }

}