@import '../../varibles';
@import '../../fonts';
.downList {
    height: 124px;
    background: $secundary-color;
    text-align: center;
    h1 {
        color: #FFF;
        font-family: Roboto;
        font-weight: bold;
        font-size: 15px;
    }
    h1:before {
        content: url('http://interceramicusa.com/images/layout/icons/ico-22.png');

        width: 10px;
        height: 10px;
    }
    .top-one {
        margin-top: 12%;
    }
    .top-two {
        margin-top: 30%;
    }
    .top-tre {
        margin-top: 48%;
    }
    .top-four {
        margin-top: 8%;
    }

}