<div class="register">
    <div class="container">
        <div class="col-xs-12 top">
            <h1> Registro gratis para <strong>Usuarios</strong> </h1>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <form name="formRegister">
                    <div class="form-group">
                        <label for="usr">Nombre:</label>
                        <input 
                            type="text" 
                            class="form-control"
                            name="first_name" 
                            ng-model="formRegisterUser.first_name"
                            ng-class="{'errorImput':formRegister.first_name.$touched && formRegister.first_name.$error.required}"
                            required
                        >
                        <span 
                            class="error"
                            ng-show="formRegister.first_name.$touched && formRegister.first_name.$error.required">
                            Este campo es requerido
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="usr">Apellido:</label>
                        <input 
                            type="text" 
                            class="form-control"
                            name="last_name" 
                            ng-model="formRegisterUser.last_name"
                            ng-class="{'errorImput':formRegister.last_name.$touched && formRegister.last_name.$error.required}"
                            required
                        >
                        <span 
                            class="error"
                            ng-show="formRegister.last_name.$touched && formRegister.last_name.$error.required">
                            Este campo es requerido
                        </span>                     
                    </div>
                    <div class="form-group">
                        <label for="usr">Celular:</label>
                        <input 
                            type="text" 
                            class="form-control"
                            name="cell_phone" 
                            ng-model="formRegisterUser.cell_phone"
                            ng-class="{'errorImput':formRegister.cell_phone.$touched && formRegister.cell_phone.$error.required}"
                            required
                        >
                        <span 
                            class="error"
                            ng-show="formRegister.cell_phone.$touched && formRegister.cell_phone.$error.required">
                            Este campo es requerido
                        </span>                         
                    </div>
                    <div class="form-group">
                        <label for="usr">Teléfono Fijo:</label>
                        <input 
                            type="text" 
                            class="form-control"
                            name="cell_phone" 
                            ng-model="formRegisterUser.cell_phone"
                            ng-class="{'errorImput':formRegister.cell_phone.$touched && formRegister.cell_phone.$error.required}"
                            required
                        >
                        <span 
                            class="error"
                            ng-show="formRegister.cell_phone.$touched && formRegister.cell_phone.$error.required">
                            Este campo es requerido
                        </span>                         
                    </div>
                    <div class="form-group">
                        <label for="usr">Fecha de nacimiento</label>
                        <div class="row">
                        <div class="col-md-4">
                            <select 
                                class="form-control" 
                                ng-model="locationMainSelect" 
                                ng-options="item.id as item.title for item in locations"
                                ng-change="locationsChange(locationMainSelect)"
                            >
                                <option value="">Día</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select 
                                class="form-control" 
                                ng-model="locationMainSelect" 
                                ng-options="item.id as item.title for item in locations"
                                ng-change="locationsChange(locationMainSelect)"
                            >
                                <option value="">Mes</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select 
                                class="form-control" 
                                ng-model="locationMainSelect" 
                                ng-options="item.id as item.title for item in locations"
                                ng-change="locationsChange(locationMainSelect)"
                            >
                                <option value="">Año</option>
                            </select>
                        </div>
                        </div>
                        <span 
                            class="error"
                            ng-show="formRegister.cell_phone.$touched && formRegister.cell_phone.$error.required">
                            Este campo es requerido
                        </span>                         
                    </div>
                    <div class="form-group">
                        <label for="pwd">Sexo:</label>
                        <select 
                            class="form-control" 
                            ng-model="locationMainSelect" 
                            ng-options="item.id as item.title for item in locations"
                            ng-change="locationsChange(locationMainSelect)"
                        >
                            <option value="">Seleccione</option>
                        </select>
                        <span
                            class="error"
                            ng-show="formRegister.password.$touched && formRegister.password.$error.required">
                            Este campo es requerido
                        </span>                         
                    </div>
                    <div class="form-group">
                        <label for="pwd">Estado:</label>
                        <select 
                            class="form-control" 
                            ng-model="locationMainSelect" 
                            ng-options="item.id as item.title for item in locations"
                            ng-change="locationsChange(locationMainSelect)"
                        >
                            <option value="">Seleccione</option>
                        </select>
                         <span
                            class="error"
                            ng-show="formRegister.confirmation_password.$touched && formRegister.confirmation_password.$error.required">
                            Este campo es requerido
                        </span>                        
                    </div>
                    <div class="form-group">
                        <label for="pwd">Municipio:</label>
                        <select 
                            class="form-control" 
                            ng-model="locationMainSelect" 
                            ng-options="item.id as item.title for item in locations"
                            ng-change="locationsChange(locationMainSelect)"
                        >
                            <option value="">Seleccione</option>
                        </select>
                         <span
                            class="error"
                            ng-show="formRegister.confirmation_password.$touched && formRegister.confirmation_password.$error.required">
                            Este campo es requerido
                        </span>                        
                    </div>
                    <div class="form-group">
                        <label for="pwd">Ciudad:</label>
                        <select 
                            class="form-control" 
                            ng-model="locationMainSelect" 
                            ng-options="item.id as item.title for item in locations"
                            ng-change="locationsChange(locationMainSelect)"
                        >
                            <option value="">Seleccione</option>
                        </select>
                         <span
                            class="error"
                            ng-show="formRegister.confirmation_password.$touched && formRegister.confirmation_password.$error.required">
                            Este campo es requerido
                        </span>                        
                    </div>
                    <div class="form-group">
                        <label for="pwd">Email:</label>
                        <input 
                            type="email" 
                            class="form-control"
                            name="email" 
                            ng-model="formRegisterUser.email"
                            ng-class="{'errorImput':(formRegister.email.$touched && formRegister.email.$error.required) || (formRegister.email.$error.email)}"
                            required
                        >
                        <span
                            class="error"
                            ng-show="formRegister.email.$touched && formRegister.email.$error.required">
                            Este campo es requerido
                        </span>
                        <span
                            class="error"
                            ng-show="formRegister.email.$error.email">
                            Formato de email invalido
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Contraseña:</label>
                        <input 
                            type="password" 
                            class="form-control"
                            name="password" 
                            ng-model="formRegisterUser.password" 
                            ng-class="{'errorImput':formRegister.password.$touched && formRegister.password.$error.required}"
                            required
                        >
                        <span
                            class="error"
                            ng-show="formRegister.password.$touched && formRegister.password.$error.required">
                            Este campo es requerido
                        </span>                         
                    </div>
                    <div class="form-group">
                        <label for="usr">Nickname:</label>
                        <input 
                            type="text" 
                            class="form-control"
                            name="how_contact_us" 
                            ng-model="formRegisterUser.how_contact_us"
                        >
                    </div>
                    <div align="center">
                        <button 
                            type="button" 
                            class="btn typeOne"
                            ng-click="sendData(formRegisterUser)"
                            ng-disabled="!formRegister.$valid"
                        >
                            GUARDAR CAMBIOS
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-xs-5 col-xs-offset-2">
                <div class=" container block-rigth">
                    <div class="row">
                        <img src="images/iconos-02.png" alt="">
                        <h1>¿Qué necesitas, dejános saber que quieres hacer?</h1>
                    </div>
                    <div class="row">
                        <img src="images/iconos-03.png" alt="">
                        <h1>Recibe hasta 3 presupuestos</h1>
                    </div>
                    <div class="row">
                        <img src="images/iconos-04.png" alt="">
                        <h1>Compara y elige al Profesional más indicado.</h1>
                    </div>
                    <div class="row item-right">
                        <h1>Seguro y Confiable</h1>
                        <img src="images/iconos-03.png" alt="">
                        <p>
                            Todos los Profesionales que ofrecen sus servicios 
                            están validados por nuestro sistema y personal calificado. 
                            Solo trabajamos con Profesionales legalmente verificables y 
                            que se ajusten a nuestros criterios de seguridad.
                        </p>
                    </div>
                    <div class="row">
                        <img src="images/iconos-04.png" alt="">
                        <h1>Los mejores Profesionales al mejor precio</h1>
                        <p>
                            Nuestra herramienta te permite comparar 
                            entre las mejores opciones de calidad y precios para trabajos del hogar.
                        </p>
                    </div>
                    <div class="row item-right">
                        <h1>Sencillo y Rápido</h1>
                        <img src="images/iconos-05.png" alt="">
                        <p> 
                            En muy pocos pasos busca, revisa la valoración y escoge. Todo sin perder tiempo. 
                            Sólo debes hacer 
                            tu solicitud y esperar a ser contactado por nuestros Profesionales.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>