<div class="updateData">
    <div class="container">
        <div class="col-xs-12 top">
            <h1> Registro gratis para <strong>Usuarios</strong> </h1>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <form name="formRegister">
                    <div class="form-group">
                        <label for="usr">Nombre:</label>
                        <input 
                            type="text" 
                            class="form-control"
                            name="first_name" 
                            ng-model="formRegisterUser.first_name"
                            ng-class="{'errorImput':formRegister.first_name.$touched && formRegister.first_name.$error.required}"
                            required
                        >
                        <span 
                            class="error"
                            ng-show="formRegister.first_name.$touched && formRegister.first_name.$error.required">
                            Este campo es requerido
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="usr">Apellido:</label>
                        <input 
                            type="text" 
                            class="form-control"
                            name="last_name" 
                            ng-model="formRegisterUser.last_name"
                            ng-class="{'errorImput':formRegister.last_name.$touched && formRegister.last_name.$error.required}"
                            required
                        >
                        <span 
                            class="error"
                            ng-show="formRegister.last_name.$touched && formRegister.last_name.$error.required">
                            Este campo es requerido
                        </span>                     
                    </div>
                    <div class="form-group">
                        <label for="usr">Celular:</label>
                        <input 
                            type="text" 
                            class="form-control"
                            name="cell_phone" 
                            ng-model="formRegisterUser.cell_phone"
                            ng-class="{'errorImput':formRegister.cell_phone.$touched && formRegister.cell_phone.$error.required}"
                            required
                        >
                        <span 
                            class="error"
                            ng-show="formRegister.cell_phone.$touched && formRegister.cell_phone.$error.required">
                            Este campo es requerido
                        </span>                         
                    </div>
                    <div class="form-group">
                        <label for="usr">Teléfono Fijo:</label>
                        <input 
                            type="text" 
                            class="form-control"
                            name="phone" 
                            ng-model="formRegisterUser.phone"
                            ng-class="{'errorImput':formRegister.phone.$touched && formRegister.phone.$error.required}"
                            required
                        >
                        <span 
                            class="error"
                            ng-show="formRegister.phone.$touched && formRegister.phone.$error.required">
                            Este campo es requerido
                        </span>                         
                    </div>
                    <div class="form-group">
                        <label for="usr">Fecha de nacimiento</label>
                        <div class="row">
                        <div class="col-md-4">
                            <select 
                                class="form-control" 
                                ng-model="day" 
                            >
                                <option value="">Día</option>
                                <option ng-repeat="n in [1, 31] | range" value="{{n}}">{{n}}</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select 
                                class="form-control" 
                                ng-model="month" 
                            >
                                <option value="">Mes</option>
                                <option ng-repeat="n in [1, 12] | range" value="{{n}}">{{n}}</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select 
                                class="form-control" 
                                ng-model="year" 
                            >
                                <option value="">Año</option>
                                <option ng-repeat="n in [1900, 2017] | range" value="{{n}}">{{n}}</option>
                            </select>
                        </div>
                        </div>
                        <span 
                            class="error"
                            ng-show="formRegister.cell_phone.$touched && formRegister.cell_phone.$error.required">
                            Este campo es requerido
                        </span>                         
                    </div>
                    <div class="form-group">
                        <label for="pwd">Sexo:</label>
                        <select 
                            class="form-control" 
                            name="gender" 
                            ng-model="formRegisterUser.gender"
                            required
                        >
                            <option value="">Seleccione</option>
                            <option value="0">Femenino</option>
                            <option value="1">Masculino</option>
                        </select>
                        <span
                            class="error"
                            ng-show="formRegister.gender.$touched && formRegister.gender.$error.required">
                            Este campo es requerido
                        </span>                         
                    </div>
                    <div class="form-group">
                        <label for="pwd">Estado:</label>
                        <select 
                            class="form-control"
                            name="state"
                            ng-model="locationMainSelect" 
                            ng-options="item.id as item.title for item in locations"
                            ng-change="locationsChange(locationMainSelect)"
                            required
                        >
                            <option value="">Seleccione</option>
                        </select>
                         <span
                            class="error"
                            ng-show="formRegister.state.$touched && formRegister.state.$error.required">
                            Este campo es requerido
                        </span>                        
                    </div>
                    <div class="form-group">
                        <label for="pwd">Municipio:</label>
                        <select 
                            class="form-control"
                            name = "municipaly"
                            ng-model="municipalynSelect" 
                            ng-options="item.id as item.title for item in municipalities"
                            ng-change="municipalyChange(municipalynSelect)"
                            required
                        >
                            <option value="">Seleccione</option>
                        </select>
                         <span
                            class="error"
                            ng-show="formRegister.municipaly.$touched && formRegister.municipaly.$error.required">
                            Este campo es requerido
                        </span>                        
                    </div>
                    <div class="form-group">
                        <label for="pwd">Ciudad:</label>
                        <select 
                            class="form-control"
                            name="city"
                            ng-model="formRegisterUser.city" 
                            ng-options="item.id as item.title for item in cities"
                            required
                        >
                            <option value="">Seleccione</option>
                        </select>
                         <span
                            class="error"
                            ng-show="formRegister.city.$touched && formRegister.city.$error.required">
                            Este campo es requerido
                        </span>                        
                    </div>
                    <div class="form-group">
                        <label for="pwd">Email:</label>
                        <input 
                            type="email" 
                            class="form-control"
                            name="email" 
                            ng-model="formRegisterUser.email"
                            ng-class="{'errorImput':(formRegister.email.$touched && formRegister.email.$error.required) || (formRegister.email.$error.email)}"
                            required
                            disabled
                        >
                        <span
                            class="error"
                            ng-show="formRegister.email.$touched && formRegister.email.$error.required">
                            Este campo es requerido
                        </span>
                        <span
                            class="error"
                            ng-show="formRegister.email.$error.email">
                            Formato de email invalido
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Contraseña:</label>
                        <input 
                            type="password" 
                            class="form-control"
                            name="password" 
                            ng-model="formRegisterUser.password" 
                            ng-class="{'errorImput':formRegister.password.$touched && formRegister.password.$error.required}"
                            required
                            disabled
                        >
                        <span
                            class="error"
                            ng-show="formRegister.password.$touched && formRegister.password.$error.required">
                            Este campo es requerido
                        </span>                         
                    </div>
                    <div class="form-group">
                        <label for="usr">Nickname:</label>
                        <input 
                            type="text" 
                            class="form-control"
                            name="nickname" 
                            ng-model="formRegisterUser.nickname"
                            required
                        >
                        <span
                            class="error"
                            ng-show="formRegister.nickname.$touched && formRegister.nickname.$error.required">
                            Este campo es requerido
                        </span>  
                    </div>
                    <div align="center">
                        <button 
                            type="button" 
                            class="btn typeOne"
                            ng-click="sendData(formRegisterUser)"
                            ng-disabled="!formRegister.$valid"
                        >
                            GUARDAR CAMBIOS
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-xs-5 col-xs-offset-2">
                <div class=" container block-rigth">
                    <div align="center">
                         <h2> Pide <strong>Presupuesto</strong> </h2>
                    </div>
                    <div class="row">
                        <img src="images/iconos-02.png" alt="">
                        <h1>¿Qué necesitas, dejános saber que quieres hacer?</h1>
                    </div>
                    <div class="row">
                        <img src="images/iconos-03.png" alt="">
                        <h1>Recibe hasta 3 presupuestos</h1>
                    </div>
                    <div class="row">
                        <img src="images/iconos-04.png" alt="">
                        <h1>Compara y elige al Profesional más indicado.</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-working" src="images/working.png" alt="">
                        </div>
                        <div class="col-md-8">
                        <div class="row">
                            <h3>Seguro y Confiable</h3>
                            <p>
                               Validados por nuestra platadorma y sistema de reputación, sólo personal calificado.
                            </p>
                        </div>
                        <div class="row">
                            <h3>Gratis, Sencillo y Rápido</h3>
                            <p>
                                 En muy pocos pasos busca, revisa la calificación del Profesional y escoge. 
                                 Sin perder tiempo sólo debes hacer tu solicitud y recibir sin costo tus presupuestos.
                            </p>
                        </div>
                        <div class="row">
                            <h3>Los mejores Profesionales al mejor precio</h3>
                            <p>
                                Nuestra herramienta te permite comparar 
                                entre las mejores opciones de calidad y precios para trabajos del hogar.
                            </p>
                        </div>
                        <div class="row">
                            <h3>Amplia gama de Profesionales</h3>
                            <p>
                                Tenemos una extensa lista para cada uno de tus requerimientos 
                                sólo indícanos qué buscas y aquí lo encontrarás.
                            </p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>