@import '../varibles';
@import '../fonts';

.home {
    //background: url('/../images/fondo2.jpg') no-repeat;
    img {
        height: 500px;
        width: 100%;
        margin-top: -20px;
    }
    h1 {
        color: $primary-color;
    }
    header {
        background: #fff;
    }
    .search-box {
        position: absolute;
        margin-top: 2%;
        h1 {
            color: #FFF !important;
            font-family: Roboto !important;
            font-weight: bold !important;
            text-align: center;
            font-size: 22px;
        }
        .box {
            background: rgba(212, 212, 212, 0.6);
            height: 224px;
            text-align: center;
            padding: 3%;
            img {
                width: 224px;
                height: 38px;
                margin-top: 5px;
            }
            h2 {
                color: $primary-color;
                font-family: Roboto !important;
                font-weight: bold !important;
                text-align: center;
                font-size: 18px;
                margin-top: 10px
            }
            h3 {
                color: $secundary-color;
                font-family: Roboto !important;
                font-weight: bold !important;
                text-align: center;
                font-size: 18px;
            }
            select {
                font-family: Roboto !important;
                font-weight: bold !important;
                color: #000;
                border-radius: 28px;
                text-align: center;
                font-size: 17px;
                text-align-last: center;
                width: 80%;
            }
            .img-select {
                height: 40px;
                width: 40px;
                float: left;
                position: relative;
                top: -9px;
                left: 12%;
            }
        }
    }
}