<div class="col-xs-offset-2 col-xs-8">
    <div class="row">
        <!-- Include Vista del Presupuesto -->
        <div class="col-xs-4" >
            <h3>Calificación</h3>
            <br>
            <h3>Calidad</h3>
            <h3>Calidad</h3>
            <br>
            <h3>Responsabilidad</h3>
            <h3>Responsabilidad</h3>
            <br>
            <h3>Tiempo de entrega</h3>
            <h3>Calidad</h3>
            <br>
            <h3>Amabilidad</h3>
            <h3>Calidad</h3>
            <br>
            <h3>Limpieza</h3>
            <h3>Calidad</h3>
            <br>
            <h3>Precio</h3>
            <h3>Calidad</h3>
        </div>
        <div class="col-xs-offset-1 col-xs-7">
            <h3>¿Que Profesional realizó el trabajo?</h3>
            <select name="" id="input" class="form-control">
                <option value="">-- Select One --</option>
            </select>
            <h3>Comentario</h3>
            <textarea name="" id="input" class="form-control" rows="3" required="required"></textarea>
            <button type="button" class="btn btn-default">CALFICAR PROFESIONAL</button>
        </div>
    </div>
</div>