<div class="col-xs-12 col-md-offset-2 col-md-8 box-califications">
    <div class="row">
        <!-- Include Vista del Presupuesto -->
        <div class="col-xs-12 col-sm-4" >
            <h2>Calificación</h3>            
            <div class="row">
                <div class="col-xs-6 col-sm-12">
                <p>
                    <h3>Calidad</h3>
                    <img src="https://image.flaticon.com/icons/png/128/148/148841.png">
                </p>
                </div>
                <div class="col-xs-6 col-sm-12">
                    <p>
                        <h3>Responsabilidad</h3>
                        <img src="https://image.flaticon.com/icons/png/128/148/148841.png">
                    </p>
                </div>
                <div class="col-xs-6 col-sm-12">
                    <p>
                        <h3>Tiempo de entrega</h3>
                        <img src="https://image.flaticon.com/icons/png/128/148/148841.png">
                    </p>
                </div>
                <div class="col-xs-6 col-sm-12">
                    <p>
                        <h3>Amabilidad</h3>
                        <img src="https://image.flaticon.com/icons/png/128/148/148841.png">
                    </p>
                </div>
            
                <div class="col-xs-6 col-sm-12">
                    <p>
                        <h3>Limpieza</h3>
                        <img src="https://image.flaticon.com/icons/png/128/148/148841.png">
                    </p>
                </div>
            
                <div class="col-xs-6 col-sm-12">
                    <p>
                        <h3>Precio</h3>
                        <img src="https://image.flaticon.com/icons/png/128/148/148841.png">
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-offset-1 col-sm-7">
            <h2 class="question">¿Que Profesional realizó el trabajo?</h2>
            <select name="" id="input" class="form-control">
                <option value="">-- Select One --</option>
            </select>
            <h2>Comentario</h2>
            <textarea name="" id="input" class="form-control" rows="3" required="required"></textarea>            
        </div>

        <div class="col-xs-12">
            <div class="pull-right">
                <button type="button" class="btn btn-default">CALIFICAR PROFESIONAL</button>
            </div>
        </div>
    </div>
</div>