<div class="col-xs-12 box-job">
    <div class="row">
        <div class=" col-xs-12 col-lg-9">
            <div class="row row-panel">
                <div class="col-xs-12 col-sm-8 col-lg-5">
                    <div class="panel panel-default box-panel-job">
                        <div class="panel-heading">
                            Profesional
                        </div>
                        <div class="panel-body">
                            <span class="title">SERVICIO DE INSTALACIONES R.C.G<span>
                            <p class="description">El Manitas esta tomando su tiempo para elaborar presupuesto</p>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-4" style="text-align:left">
                                    ASIGNAR
                                </div>
                                <div class="col-xs-4"x|>
                                    RECHAZAR
                                </div>
                                <div class="col-xs-4">
                                    <div class="pull-right">FINALIZAR</div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>              
                <div class="col-xs-12 col-sm-4 col-lg-2" style="padding:0px;">
                    <div class="panel panel-default box-panel-job">
                        <div class="panel-heading">
                            Precio
                        </div>
                        <div class="panel-body">
                            <span>0 Bs - 1 Bs</span>
                        </div>
                        <div class="panel-footer">
                            VER DETALLES
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3" style="padding:0px;padding-left:8px; padding-right:8px">
                    <div class="panel panel-default box-panel-job">
                        <div class="panel-heading">
                            Calificaciones
                        </div>
                        <div class="panel-body">
                            ***ESTRELLAS***
                        </div>
                        <div class="panel-footer">
                            CALIFICAR
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-2" style="padding:0px;padding-left:8px; padding-right:8px">
                    <div class="panel panel-default box-panel-job">
                        <div class="panel-heading">
                            Contacto
                        </div>
                        <div class="panel-body">
                            <span>04123231312</span>
                        </div>
                        <div class="panel-footer" style="padding:2px 0px 2px 0px">
                            <button type="button" class="btn btn-default">CONTACTAR</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Garantiza tus trabajos</h3>
                    <p>Preocupados por tu seguridad y satisfacción, queremos que tu experiencia en <span>GUIKIFIX</span> sea lo más placentera posible. Todos los profesionales que ofrecen sus servicios están validados por nuestro sistema y personal calificado. Solo trabajamos con equipos legalmente verificables y que cumplan los protocolos de seguridad. Por ello tenemos un contrato modulo que te permite garantizar las condiciones de ejecución del trabajo a contratar. Imprímelo, complétalo y fírmalo en conjunto con el profesional seleccionado.</p>
                    <p>Con la descarga de este documento, aceptas que esta es sólo una herramienta que pone a tu disposición <span>GUIKIFIX</span> y que en ningún  caso implica asesoramiento legal. <span>GUIKIFIX</span> no se hace responsable por los compromisos que establezcas con los profesionales que seleccionaste a través de nuestra plataforma.</p>
                    <p><a>Acepto <input type="checkbox" value=""></a></p>
                    <p><a>Descarga de Contrato</a></p>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-lg-3 hidden-xs hidden-sm hidden-md" style="padding:0px">
            <div class="panel panel-default panel-info" >
                <div class="panel-body">
                    <div class="row hidden-xs hidden-sm">
                        <div class="col-xs-12" style="text-align:center;">
                            <img src="/images/iconos-19.png" style="width:29%;" >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" >
                            <br>
                            <p><span>¿Cuándo se publica mi solicitud?</span></p>
                            <p>Nuestro equipo valida tu cuenta y revisamos todos los requerimientos. Te avisaremos por medio de un email o SMS cuando tu solicitud de presupuesto este publicada.</p>
                        </div>
                        <br>
                        <div class="col-xs-12 " >
                            <br>
                            <p><span>Tengo fotos y planos que ayudarían a explicar mejor lo que necesito hacer ¿puedo enviarlos?</span></p>                   
                            <p>Mientras más información envies, más fácil y preciso será encontrar el profesional adecuado y realizar un presupuesto más acorde a tu realidad. Haz click en la opción agregar junto al nombre del trabajo.</p>
                        </div>
                        
                        <div class="col-xs-12 " >
                            <br>
                            <p><span>Ya elegí al profesional que quiero contratar ¿Qué debo hacer?</span></p>           
                            <p> Una vez escojido tu profesional GUIKIFIX, dale click al botón asignar. Así tu solicitud queda cerrada y podrás coordinar con el profesional el inicio del trabajo. Una vez terminado el trabajo no te olvidesde calificar para que otros usuarios puedan usar tu experiencia como referencia. Es muy importante tu opinión.</p>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>