<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 box-resumen">
    <div class="row">
        <!-- Include Vista del Resumen -->
        <div class="col-xs-12 col-sm-offset-1 col-sm-10" >
            <div class="row row-divider">
                <div class="col-xs-6 col-sm-8 col-lg-7">
                    <h3>Descripción</h3>
                    <p>Trabajos de plomería, en agua de la ducha y lavamanos no sale con presión pareciera tubería tapada.</p>
                    <a>Editar</a>
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-offset-1 col-lg-4">
                    <h3>Ubicación</h3>
                    <p>Macaracay, Caracas</p>
                    <a>Editar</a>
                </div>
            </div>
            <div class="row row-divider">
                <div class="col-xs-6 col-sm-8">
                    <h3>Fotos</h3>
                    <p>Cantidad:<span>0</span></p>
                    <a>Agregar</a>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <h3>Documentos</h3>
                    <p>Cantidad:<span>0</span></p>
                    <a>Agregar</a>
                </div>
            </div>
            <div class="row row-divider">
                <div class="col-xs-6 col-sm-8">
                    <h3>Mensajes</h3>
                    <p>Cantidad:<span>0</span></p>
                    <p>Nuevos:<span>0</span></p>
                    <a>Ver</a>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <h3>Estatus</h3>
                    <p>Publicado</p>
                    <a>ver</a>
                </div>
            </div>
        </div>        
    </div>
</div>