<div class="register">
    <div class="container">
        <div class="col-xs-12 top">
            <h1> Registro gratis para <strong>Usuarios</strong> </h1>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <form name="formRegister">
                    <div class="form-group">
                        <label for="pwd">Email:</label>
                        <input 
                            type="email" 
                            class="form-control"
                            name="email" 
                            ng-model="formRegisterUser.email"
                            ng-class="{'errorImput':(formRegister.email.$touched && formRegister.email.$error.required) || (formRegister.email.$error.email)}"
                            required
                        >
                        <span
                            class="error"
                            ng-show="formRegister.email.$touched && formRegister.email.$error.required">
                            Este campo es requerido
                        </span>
                        <span
                            class="error"
                            ng-show="formRegister.email.$error.email">
                            Formato de email invalido
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="usr">Nombre:</label>
                        <input 
                            type="text" 
                            class="form-control"
                            name="first_name" 
                            ng-model="formRegisterUser.first_name"
                            ng-class="{'errorImput':formRegister.first_name.$touched && formRegister.first_name.$error.required}"
                            required
                        >
                        <span 
                            class="error"
                            ng-show="formRegister.first_name.$touched && formRegister.first_name.$error.required">
                            Este campo es requerido
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="usr">Apellido:</label>
                        <input 
                            type="text" 
                            class="form-control"
                            name="last_name" 
                            ng-model="formRegisterUser.last_name"
                            ng-class="{'errorImput':formRegister.last_name.$touched && formRegister.last_name.$error.required}"
                            required
                        >
                        <span 
                            class="error"
                            ng-show="formRegister.last_name.$touched && formRegister.last_name.$error.required">
                            Este campo es requerido
                        </span>                     
                    </div>
                    <div class="form-group">
                        <label for="usr">Celular:</label>
                        <input 
                            type="text" 
                            class="form-control"
                            name="cell_phone" 
                            ng-model="formRegisterUser.cell_phone"
                            ng-class="{'errorImput':formRegister.cell_phone.$touched && formRegister.cell_phone.$error.required}"
                            required
                        >
                        <span 
                            class="error"
                            ng-show="formRegister.cell_phone.$touched && formRegister.cell_phone.$error.required">
                            Este campo es requerido
                        </span>                         
                    </div>
                    <div class="form-group">
                        <label for="pwd">Contraseña:</label>
                        <input 
                            type="password" 
                            class="form-control"
                            name="password" 
                            ng-model="formRegisterUser.password" 
                            ng-class="{'errorImput':formRegister.password.$touched && formRegister.password.$error.required}"
                            required
                        >
                        <span
                            class="error"
                            ng-show="formRegister.password.$touched && formRegister.password.$error.required">
                            Este campo es requerido
                        </span>                         
                    </div>
                    <div class="form-group">
                        <label for="pwd">Confirmar Contraseña:</label>
                        <input 
                            type="password" 
                            class="form-control"
                            name="confirmation_password" 
                            ng-model="formRegisterUser.confirmation_password"
                            ng-class="{'errorImput':formRegister.confirmation_password.$touched && formRegister.confirmation_password.$error.required}"
                            required
                        >
                         <span
                            class="error"
                            ng-show="formRegister.confirmation_password.$touched && formRegister.confirmation_password.$error.required">
                            Este campo es requerido
                        </span>                        
                    </div>
                    <div class="form-group">
                        <label for="usr">¿Como supiste de Guikifix?:</label>
                        <input 
                            type="text" 
                            class="form-control"
                            name="how_contact_us" 
                            ng-model="formRegisterUser.how_contact_us"
                            ng-class="{'errorImput':formRegister.how_contact_us.$touched && formRegister.how_contact_us.$error.required}"
                            required
                        >
                        <span
                            class="error"
                            ng-show="formRegister.how_contact_us.$touched && formRegister.how_contact_us.$error.required">
                            Este campo es requerido
                        </span>                         
                    </div>
                    <div align="center">
                        <button 
                            type="button" 
                            class="btn typeOne"
                            ng-click="sendData(formRegisterUser)"
                            ng-disabled="!formRegister.$valid"
                        >
                            Registrate
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-xs-6 col-xs-offset-1">
                <div class=" container block-rigth">
                    <div class="row">
                        <img src="images/iconosPasos.png" alt="">
                        <h1>Amplia gama de Profesionales</h1>
                        <p>
                            Tenemos una extensa lista para cada uno de tus requerimientos,
                            solo cuentanos que buscas y te ayudaremos a encontrarlo.
                        </p>
                    </div>
                    <div class="row item-right">
                        <h1>Seguro y Confiable</h1>
                        <img src="images/iconosPasos.png" alt="">
                        <p>
                            Todos los Profesionales que ofrecen sus servicios 
                            estan validados por nuestro sstema y personal calificado. 
                            Solo trabajamos con Profesionales legalmente verificables y 
                            que se ajusten a nuestros criterios de seguridad.
                        </p>
                    </div>
                    <div class="row">
                        <img src="images/iconosPasos.png" alt="">
                        <h1>Los menjores Profesionales al mejor precio</h1>
                        <p>
                            Nuestra herramienta te permite comprar 
                            entre las mejores opciones de calidad y precios para trabajos del hogar.
                        </p>
                    </div>
                    <div class="row item-right">
                        <h1>Sencillo y Rapido</h1>
                        <img src="images/iconosPasos.png" alt="">
                        <p>
                            En muy pocos pasos busca, revisa la valoracion y escoje, Todo sin perder tiempo. 
                            Solo debes hacer 
                            tu solicitud y esperar a ser contactado por nuestros Profesionales.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>