@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url("http://fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot");
  src: url("http://fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot?#iefix") format("embedded-opentype"), local("Roboto"), local("Roboto-regular"), url("http://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2") format("woff2"), url("http://fonts.gstatic.com/s/roboto/v15/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff") format("woff"), url("http://fonts.gstatic.com/s/roboto/v15/zN7GBFwfMP4uA6AR0HCoLQ.ttf") format("truetype"), url("http://fonts.gstatic.com/l/font?kit=_YZOZaQ9UBZzaxiLBLcgZg&skey=a0a0114a1dcab3ac&v=v15#Roboto") format("svg"); }

.login {
  background: #f2f2f2; }
  .login h1 {
    color: #094AB1;
    font-family: Roboto !important;
    font-weight: 500;
    display: inline-block; }
  .login .error {
    color: red;
    font-family: Roboto !important; }
  .login .top {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%; }
    .login .top img {
      width: 174px;
      height: 30px;
      margin-top: -1.5%;
      margin-left: .5%;
      margin-right: .5%; }
  .login form label {
    color: #094AB1;
    font-family: Roboto !important;
    font-weight: 500;
    font-size: 18px; }
  .login button {
    color: #FFF;
    font-family: Roboto;
    font-weight: bold;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FF6600 !important;
    margin-bottom: 6%;
    margin-top: 5%;
    width: 40%; }
    .login button:hover {
      color: #FFF !important; }
  .login .space {
    border-right: 1px solid #cccccc;
    height: 310px; }
  .login .rigth {
    text-align: center; }
    .login .rigth h1 {
      display: inherit !important;
      position: relative !important;
      top: 57px  !important;
      font-size: 24px; }
    .login .rigth img {
      width: 351px;
      position: relative;
      top: -40px; }
  .login .bottom {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    background: #FFF;
    text-align: center;
    padding-bottom: 2%; }
    .login .bottom h1 {
      font-weight: bold;
      padding-bottom: .5%; }
    .login .bottom h2 {
      font-family: Roboto !important;
      color: #FFF;
      font-size: 28px;
      margin-top: 5%;
      margin-bottom: 0%; }
    .login .bottom h3 {
      font-family: Roboto !important;
      color: #FFF;
      font-size: 15px;
      margin-top: -2%;
      padding-left: 15%;
      padding-right: 15%; }
    .login .bottom img {
      width: 176px; }
    .login .bottom .content-left {
      background: #76BE53;
      height: 316px;
      width: 49%;
      margin-right: 2%; }
    .login .bottom .content-right {
      background: #094AB1;
      height: 316px;
      width: 49%; }
