<div class="login">
    <div class="container">
        <div class="col-xs-12 top">
            <h1>¡Bienvenido a </h1>
            <img src="images/nombre.png" alt=""><h1>!</h1>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <form>
                    <div class="form-group">
                        <label for="pwd">Email:</label>
                        <input type="email" class="form-control" ng-model="email">
                        {{error}}
                    </div>
                    <div class="form-group">
                        <label for="pwd">Contraseña:</label>
                        <input type="password" class="form-control" ng-model="password">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Recordar cuenta</label>
                    </div>
                    <div align="center">
                        <button type="button" class="btn typeOne" ng-click="login()">ENTRAR</button>
                    </div>
                </form>
            </div>
            <div class="col-xs-2 space">

            </div>
            <div class="col-xs-6 rigth">
                <div class="row">
                    <h1 for="">También puedes</h1>
                    <a href=""><img src="images/facebook2.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container bottom">
        <div align="center">
            <h1>¿No tienes una cuenta?</h1>
        </div>
        <a ui-sref="register">
            <div class="col-xs-5 content-left">
                <h2>Regístrate como <strong>Usuario</strong></h2>
                <img src="images/user.png" alt="">
                <h3>Obtén hasta 3 presupuestos de Profesionales 
                    verificados para realizar tus arreglos y reparaciones
                </h3>
            </div>        
        </a>
        <a href="">
            <div class="col-xs-5 content-right">
                <h2>Regístrate como <strong>Profesional</strong></h2>
                <img src="images/professional.png" alt="">
                <h3>Regístrate <strong>GRATIS</strong> y consigue nuevos Clientes</h3>
            </div>
        </a>
    </div>
</div>