@import '../../../varibles';

.panel-job {
    min-height: 52vh;
    margin-top: 2%;

    h3 { 
        font-size:32px;
        color: $secundary-color; 
        text-align:center; 
    }   

    .panel {
        .panel-heading {
            background: $secundary-color;
            color: #ffffff;
            font-size:112%;
            font-weight:bold;
            text-align: center;
        }
        .panel-body {
            min-height:120px;
        }
        .panel-footer {
            font-size:90%;
            text-align:center;            
        }
    }
    span { font-weight:600;}
    
    .box-panel{
        padding-right:0px;
        .panel-body {
            display: table;   
            width:100%;
            text-align: center;
            span {
                text-align: center;
                display: table-cell;
                vertical-align: middle;
            }
        }            
    }        
    

    .row-panel:last-child {
        padding-right:inherit;
    }
}