@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url("http://fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot");
  src: url("http://fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot?#iefix") format("embedded-opentype"), local("Roboto"), local("Roboto-regular"), url("http://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2") format("woff2"), url("http://fonts.gstatic.com/s/roboto/v15/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff") format("woff"), url("http://fonts.gstatic.com/s/roboto/v15/zN7GBFwfMP4uA6AR0HCoLQ.ttf") format("truetype"), url("http://fonts.gstatic.com/l/font?kit=_YZOZaQ9UBZzaxiLBLcgZg&skey=a0a0114a1dcab3ac&v=v15#Roboto") format("svg"); }

.panel-job {
  background: #f2f2f2;
  color: #4C4D4F;
  min-height: 52vh; }
  .panel-job h3 {
    font-family: Roboto;
    font-size: 32px;
    color: #094AB1;
    text-align: center; }
    .panel-job h3 span {
      font-weight: 600; }
  .panel-job h4 {
    font-family: Roboto;
    color: #094AB1; }
  .panel-job .row-panel {
    font-family: Roboto;
    border: none !important;
    background: none !important; }
    .panel-job .row-panel .panel {
      background: #DFDFDF; }
    .panel-job .row-panel .panel-heading {
      background: #094AB1;
      color: #ffffff;
      font-weight: bold;
      text-align: center; }
    .panel-job .row-panel .panel-body {
      font-family: Roboto;
      min-height: 120px;
      background: #DFDFDF; }
      .panel-job .row-panel .panel-body span {
        font-weight: 600;
        font-size: 16px; }
    .panel-job .row-panel .panel-footer {
      font-family: Roboto;
      font-size: 90%;
      text-align: center;
      background: #D4D4D4; }
  .panel-job .box-panel .panel-body {
    display: table;
    width: 100%;
    text-align: center; }
    .panel-job .box-panel .panel-body span {
      text-align: center;
      display: table-cell;
      vertical-align: middle; }
  .panel-job .box-panel-job {
    border-radius: 0px;
    text-align: letf !important; }
    .panel-job .box-panel-job .panel-heading {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px; }
    .panel-job .box-panel-job .panel-footer {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px; }
    .panel-job .box-panel-job .panel-body {
      display: table;
      width: 100%;
      text-align: center; }
      .panel-job .box-panel-job .panel-body span {
        display: table-cell;
        vertical-align: middle; }
    .panel-job .box-panel-job .title {
      font-size: 112%;
      color: #094AB1;
      text-align: left;
      margin: 0 0 0px !important; }
    .panel-job .box-panel-job .detail {
      font-size: 110%;
      text-align: left;
      font-weight: bold;
      margin: 0 0 0px !important; }
    .panel-job .box-panel-job .request-date {
      font-size: 105%;
      text-align: left;
      font-weight: 400;
      margin: 0 0 0px !important; }
  .panel-job .panel-info {
    font-size: 15px;
    background: #FFA366;
    border-radius: 20px;
    color: #ffffff; }
    .panel-job .panel-info span {
      font-weight: 600; }
    .panel-job .panel-info p {
      padding-left: 8%;
      padding-right: 8%; }
    .panel-job .panel-info .panel {
      border-right: 1px solid #ffffff; }
    @media screen and (min-width: 992px) {
      .panel-job .panel-info .box-info {
        border-right: 1px solid #ffffff;
        min-height: 310px; } }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      .panel-job .panel-info .box-info {
        border-right: 1px solid #ffffff;
        min-height: 360px; } }
  .panel-job .info span, .panel-job .info h4 {
    font-weight: 600; }
  .panel-job .info p {
    font-size: 15px;
    text-align: justify; }
  .panel-job .info a {
    font-size: 17px; }
