<div style="margin-bottom:4%;padding:0;background:#f2f2f2">
<div class="container panel-job" >
    <div class="row">
        <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
            <h3>Tus solicitudes de <span>Presupuesto</span></h3>
        </div>
    </div>
    <br>
    <!-- Listados de Trabajos -->
    <div class="row row-panel" ng-repeat="current_job in myjobs">
        <div class="col-xs-12 col-md-6 col-lg-3 box-panel box-panel-job" >
            <div class="panel panel-default" >
                <div class="panel-heading" style="text-align:left;" ng-show="!$index">
                    SOLICITUDES DE TRABAJO
                </div>
                <div class="panel-body" style="padding:0px;padding-left: 10px;padding-top:10px;padding-right:10px;">
                    <span>
                        <p class="title">TRABAJO DE PLOMERÍA</p>
                        <p class="detail">{{current_job.description | cut:true:90:' ...'}}</p>
                        <p class="request-date">Solicitado el {{current_job.date_created}}</p>
                    </span>
                </div>
                <div class="panel-footer"> 
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-left"><a ui-sref="myjob({job_id: current_job.id})">EDITAR</a></div>
                            <div class="pull-right">FINALIZAR</div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-1 box-panel" style="padding:0px;">
            <div class="panel panel-default" >
                <div class="panel-heading" ng-show="!$index">
                    FOTOS
                </div>
                <div class="panel-body">
                    <span>{{current_job.images}}</span>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-12"> AGREGAR                        
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-2 box-panel">
            <div class="panel panel-default">
                <div class="panel-heading" ng-show="!$index">
                    DOCUMENTOS
                </div>
                <div class="panel-body">
                    <span>{{current_job.images}}</span>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-12">    
                            AGREGAR
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3 box-panel" style="padding:0px">
        <div class="panel panel-default">
                <div class="panel-heading" ng-show="!$index">
                    PROFESIONALES SUGERIDOS
                </div>
                <div class="panel-body">
                    <span ng-if="current_job.suggested_professional">Plomería ABH</span>
                    <span ng-if="!current_job.suggested_professional">Ninguno</span>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            CALIFICAR
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3 box-panel">
            <div class="row">
                <div class="col-xs-6" style="padding-right:5px;">
                    <div class="panel panel-default">
                        <div class="panel-heading" ng-show="!$index">
                            MENSAJES
                        </div>
                        <div class="panel-body">
                            <span>{{current_job.images}}</span>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-12">
                                    ENVIAR
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6" style="padding-right:5px;">
                    <div class="panel panel-default">
                        <div class="panel-heading" ng-show="!$index">
                            STATUS
                        </div>
                        <div class="panel-body">
                            <span>{{current_job.status}}</span>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-12">
                                    + ASIGNAR
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </div>        
    </div>
    <!-- FIN Listado de trabajo -->

    <!-- Información -->
    <div class="row info">
        <div class="col-xs-12">
            <h4>Garantiza tus trabajos</h4>
            <p>Preocupados por tu seguridad y satisfacción, queremos que tu experiencia en <span>GUIKIFIX</span> sea lo más placentera posible. Todos los profesionales que ofrecen sus servicios están validados por nuestro sistema y personal calificado. Solo trabajamos con equipos legalmente verificables y que cumplan los protocolos de seguridad. Por ello tenemos un contrato modulo que te permite garantizar las condiciones de ejecución del trabajo a contratar. Imprímelo, complétalo y fírmalo en conjunto con el profesional seleccionado.</p>
            <p>Con la descarga de este documento, aceptas que esta es sólo una herramienta que pone a tu disposición <span>GUIKIFIX</span> y que en ningún  caso implica asesoramiento legal. <span>GUIKIFIX</span> no se hace responsable por los compromisos que establezcas con los profesionales que seleccionaste a través de nuestra plataforma.</p>
            <p><a>Acepto <input type="checkbox" value=""></a></p>
            <p><a>Descarga de Contrato</a></p>
            <br>
        </div>
    </div>
    <!-- FIN Información -->
</div>
</div>
<div class="container panel-job" style="background:#ffffff;margin-top:%4; margin-bottom:4%">

    <!-- Panel Informativo -->
    <div class="row">
        <div class="col-xs-12" >
          <div class="panel panel-default panel-info" >
                <div class="panel-body">
                    <div class="row hidden-xs hidden-sm">
                        <div class="col-xs-12" style="text-align:center;">
                            <img src="/images/iconos-19.png" style="width:8%;" >
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                        <div class="col-xs-12 col-md-4 box-info" style="text-align:center;">
                            <img src="/images/iconos-10.png" style="width:17%;">
                            <p><span>¿Cuándo se publica mi solicitud?</span></p>
                            <p>Nuestro equipo valida tu cuenta y revisamos todos los requerimientos. Te avisaremos por medio de un email o SMS cuando tu solicitud de presupuesto este publicada.</p>
                        </div>
                        <div class="col-xs-12 col-md-4 box-info" style="text-align:center;">
                            <img src="/images/iconos-11.png" style="width:17%;">
                            <p><span>Ya elegí al profesional que quiero contratar ¿Qué debo hacer?</span></p>
                            <p> Una vez escojido tu profesional GUIKIFIX, dale click al botón asignar. Así tu solicitud queda cerrada y podrás coordinar con el profesional el inicio del trabajo. Una vez terminado el trabajo no te olvidesde calificar para que otros usuarios puedan usar tu experiencia como referencia. Es muy importante tu opinión.</p>
                        </div>
                        <div class="col-xs-12 col-md-4" style="text-align:center;">
                            <img src="ada" >
                            <p><span>Tengo fotos y planos que ayudarían a explicar mejor lo que necesito hacer ¿puedo enviarlos?</span></p>
                            <p>Mientras más información envies, más fácil y preciso será encontrar el profesional adecuado y realizar un presupuesto más acorde a tu realidad. Haz click en la opción agregar junto al nombre del trabajo.</p>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    <!-- FIN Panel Informativo -->
</div>