<mjml>
    <mj-body>
        <mj-container background-color="#ededed">
            <!-- HEADER -->
            <mj-section background-color="white" padding="0" padding-top="10" border-top-radius="10px">
                <mj-column >
                    <mj-image width="300" src="http://guikifix.herokuapp.com/images/logo_guikifix.png"></mj-image>
                    <mj-divider border-color="#FF6600"></mj-divider>
                </mj-column>
            </mj-section>
            <!-- END HEADER -->
            <!-- CONTENT-->
            <mj-section padding="0" background-color="white">
                <mj-column>
                    <mj-text align="center">Hola Jorge Tohn</mj-text>
                    <mj-text align="left" padding-left="10%" padding-right="10%">Hola Jorge Tohn</mj-text>
                    <mj-text align="center" padding="0">Atentamente,</mj-text>
                    <mj-text align="center" padding="0" font-weight="bold">TEAM GUIKIFIX</mj-text>
                </mj-column>
            </mj-section>
            <!-- END CONTENT -->
            <!-- FOOTER -->
            <mj-section background-color="white">
                <mj-column>
                    <mj-divider border-color="#FF6600"></mj-divider>
                </mj-column>
            </mj-section>
            <!-- END CONTENT -->
        </mj-container>
    </mj-body>
</mjml>