@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url("http://fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot");
  src: url("http://fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot?#iefix") format("embedded-opentype"), local("Roboto"), local("Roboto-regular"), url("http://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2") format("woff2"), url("http://fonts.gstatic.com/s/roboto/v15/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff") format("woff"), url("http://fonts.gstatic.com/s/roboto/v15/zN7GBFwfMP4uA6AR0HCoLQ.ttf") format("truetype"), url("http://fonts.gstatic.com/l/font?kit=_YZOZaQ9UBZzaxiLBLcgZg&skey=a0a0114a1dcab3ac&v=v15#Roboto") format("svg"); }

.panel-user {
  font-family: Roboto;
  min-height: 52vh;
  margin-top: 2%; }
  .panel-user h3 {
    font-size: 32px;
    color: #094AB1;
    text-align: center; }
  .panel-user .col-xs-6 {
    padding-bottom: 2%; }
  .panel-user span {
    font-weight: 600; }
  .panel-user hr {
    border-top: 1px solid #094AB1; }
  .panel-user .btn-default, .panel-user select {
    width: 100%;
    text-align-last: center;
    background: #f2f2f2;
    border-radius: 2px;
    color: #094AB1; }
  .panel-user .new-search {
    margin-top: 10%;
    margin-bottom: 4%; }
    .panel-user .new-search p {
      font-size: 14px;
      font-weight: 600;
      color: gray; }
    .panel-user .new-search .btn {
      background: #FF6600;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      width: 60%; }
