@import '../../varibles';

.panel-user {
min-height: 52vh;
    h3 { 
        font-size:32px;
        color: $secundary-color; 
        text-align:center; 
    }   
    .col-xs-6 { padding-bottom: 2% }
    span { font-weight:600;}
    hr  { border-top: 1px solid $secundary-color;}
    .btn-default, select {
        width: 100%;
        text-align-last: center;
        background: $fourth-color;
        border-radius: 2px;
        color: $secundary-color;
    }
}